# Shorter history
alias hist='history | grep $1' #Requires one input

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get external ip address
alias ext='curl ipecho.net/plain; echo'

# Stream some music
alias mm="open -a iTunes http://mp3.streampower.be/mnm-high.mp3"
alias rgr="open -a iTunes http://stream.intronic.nl/rgrfm"

# Alias for Sublimetext
alias s="~/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl ."

# Add some colors to ls
alias ls="ls -G"

# GNU manpages for programs that are GNU ones, and fallback to OSX manpages otherwise
alias man='_() { echo $1; man -M $(brew --prefix)/opt/coreutils/libexec/gnuman $1 1>/dev/null 2>&1;  if [ "$?" -eq 0 ]; then man -M $(brew --prefix)/opt/coreutils/libexec/gnuman $1; else man $1; fi }; _'

alias proxy="ssh -D 1080 -C -N vps"
